<%= form_with(model: @picture, local: true ,url: choose_new_or_edit) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :画像を選んでね %>
    <%= image_tag(picture.image.url) if picture.image && picture.image.url %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
    <br>
    <br>
    <%= f.label :一言添えて %>
    <%= f.text_area :content %>
  </div>
  <br>
  <% if @picture.id.present? %>
    <%= f.submit :修正できた？ %>
  <% else %>
    <%= f.submit :投稿じゃー！ %>
  <% end %>
<% end %>
