<h3>間違えとらん？</h3>
<%= form_with(model: @picture, url: pictures_path, local: true) do |f| %>
  <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %>
  <%= f.hidden_field :image_cache %>
  <p>一言:<%= @picture.content %></p>
  <%= f.hidden_field :content %>
  <%= f.submit "完っ璧！" %>
<% end %>

<%= form_with(model:@picture, url:new_picture_path, local:true, method:"get") do |f| %>
  <%= f.hidden_field :image_cache %>
  <%= f.hidden_field :content %>
  <%= f.submit "やっぱ書き直す", name: "back" %>
<% end %>
