<!DOCTYPE html>
<html>
  <head>
    <title>FriendCircle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <header>
        <h1><%= link_to "Hand-magazine", pictures_path %></h1>
      </header>
      <table class="all_link">
        <tr>
          <% if logged_in? %>
            <td><%= link_to "Profile", user_path(current_user.id) %> | </td>
            <td><%= link_to "Logout", session_path(current_user.id), method: :delete %></td>
          <% else %>
            <td><%= link_to "Sign up", new_user_path %> | </td>
            <td><%= link_to "Login", new_session_path %></td>
          <% end %>
        </tr>
      </table>
      <br>
      <div>
        <% flash.each do |key, value| %>
          <h3><%= content_tag(:div, value, class: "#{key}") %><h3>
        <% end %>

        <%= yield %>
      </div>
      <br>
      <br>
      <footer>
        <%= link_to "ハンドマガジン TOP", pictures_path %>
      </footer>
    </div>
  </body>
</html>
